/***** CUSTOM CSS *****/

/* primary-yellow = ffae00 */  
body{
  background-color: #f1f1f1;
  font-family: 'Source Sans Pro';
}
.main{
  margin-top: 50px;
}
.header-wrapper{

}
.nav-color{
  background-color: #111;
}
.text-yellow{
  color: #ffae00;
}
.text-white{
  color: #fff;
}
.header-text-big{
  font-weight: 700; font-size: 5em; letter-spacing: 4px;
}
.header-text-small{
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 40px;
  font-weight: 300;
  font-family: 'Roboto';
}
.bold{
  font-weight: bold;
}
.font-secondary{
  font-family: 'Source Sans Pro';
}
.font-primary{
  font-family: 'Roboto';
}
.uppercase{
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 13px;
}
.bg-header{
  padding-top: 250px;
  background: 
  /* top, transparent red, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.9), 
    rgba(0, 0, 0, 0.9)
  ),
  /* bottom, image */
  url('img/header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}
.product-anchor:hover,.product-anchor:visited,.product-anchor:focus,.product-anchor:active{
  color: inherit;
  text-decoration: none;
}
.product-card-hover{
  border: 0.5px solid #e4e4e4;
  background-color: #fff;
}
.product-card-hover:hover{
  border: 0.5px solid;
  border-color: rgba(0,0,0,0.15);
  background-color: rgba(0,0,0,0.01);
}
.product-card-hover:active{
  border: 0.5px solid;
  border-color: rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.03);
}
.product-padding{
  padding: 24px;
}
.product-grid{
  margin-bottom: 0px;
}
.product-img{

}
.navbar-fixed-top .active a { 
  background-color: $brand-primary !important;
  color: white !important;
}
.compress{
  padding: 4px;
}
.navbar-inverse .navbar-nav > .active{
  background: #ffae00;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #ffae00;
}
.center-block {
  float:none;
}
.panel-text{
  font-weight: 600;
}
.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;
  margin-top: 1%;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}

.modal-content2 {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events:all;
}
.navbar.navbar-inverse {
  background-color: #99ccff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-inverse .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-default {
  border: none;
}
.item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */       /* fallback */
  height: 100px;       /* fallback */
}

.aligned-row {
  display: flex;
  flex-flow: row wrap;

  &::before {
      display: block;
  }
}
.item-holder{
  border: 1px solid;
  border-color: rgba(0,0,0,0.1);
}
.item-brand{
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  color: rgba(0,0,0,0.64);
  font-size: 11px;
  font-weight: 600;
  padding: 24px 24px 0px 24px;
}
.item-holder a{
  text-decoration: none;
}
.item-image{
  height: 180px;
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1024px) {
  .item-image{
    height: 700px;
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.item-name{
  font-family: 'Roboto';
  text-transform: uppercase;
  color: #ffae00;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 24px 0px 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  height: auto;
}
.item-description{
  color: rgba(0,0,0,0.85);
  font-family: 'Source Sans Pro';
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 24px 0px 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  min-height: 55px;
  height: auto;
} 
.item-price{
  color: #333333;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  padding: 16px 24px 24px 24px;
}
.example6{
  background: url('img/logo.png') left / contain no-repeat;
}
.nav-helper{
  background-color: #ffae00;
  padding: 8px 0px 8px 0px;
}
.shop-directory{
  padding: 10px;
  color: #000;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
}
.shop-margin{
  padding-top: 4px; padding-left: 4px; padding-right: 4px; padding-bottom: 4px;
}
.roboto{
  font-family: 'Roboto';
}

// PRODUCT PAGE CSS OVERRIDE //
/*********************************************
    			Call Bootstrap
*********************************************/

@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*********************************************
        		Theme Elements
*********************************************/

.gold{
	color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-brand{
  font-size: 14px;
  color: rgba(0,0,0,0.54);
  font-weight: 600;
}

.product-title{
  font-size: 20px;
  color: #ffae00;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 20px;
}

.product-stock{
	color: rgb(44, 202, 0);
  font-size:16px;
  font-weight: 700;
  margin-top: 10px;
  font-family: 'Roboto';
  text-transform: uppercase;
}

.product-info{
		margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
  border: 1px solid;
  border-color: rgba(0,0,0,0.1);
  
	border-radius: 2px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.b-radius{
  border-radius: 2px;
}